.App {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}
.header{
  margin: 0;
}

.header-contents {
  margin: 0;
  height: 4em;
  width: 100%;
  background-color: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
  font-weight: bold;
  display:flex;
  justify-content: center;
  align-items: center;
}
.header-contents > ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  margin-left: auto;
}

.header-contents a{
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 2.5em;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: rgb(0, 14, 139);
  text-decoration: none;
  color: var(--tabColor);
  margin: auto 1em 0 1em;
}
.page-list-container{
  display: flex;
  margin-left: auto;
}

#list-1{
  margin-left: auto;
  display: flex;
  list-style: none;
}

.header-contents a:hover {
  background-color: rgb(2, 19, 170);    
}

.logo {
  margin-right: auto;
  font-size: 1rem;
  position:relative;
  top: 0; 
  left: 0;
  font-size: 1.5rem;
  margin-left: 1em;
}

.active {
  background-color: rgb(133, 101, 252);
}

.main > div {
  background-color: rgb(240, 240, 240);
  color: black;
  border: 1px solid black;
  border-radius: 1em;
  margin: 2em auto;
  padding: 1em;
  width: 70%;
  height: 20%;
}
.main > form > div {
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
  border-radius: 1em;
  margin: 2em auto;
  padding: 0.5em 1em;
  width: 600px;
  height: 20%;
}

.main {
  justify-content: center;
  align-items: center;
}

.App  table {
  margin: auto;
  max-height: 80vh;
  max-width: 80vw;
  border-collapse: separate;
  border-spacing: 0;
}

.table-container{
  margin: 3em auto;
  align-items: center;
  padding: 0;
  max-height: 80vh;
  max-width: 90vw;
  overflow: auto;
}

.App table tr, td, th {
  text-align: center;
  padding: 0.5em;
  max-width: 10em;
  min-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.showText{
  text-overflow: none;
  white-space: normal;
  overflow: visible;
  align-items: center;
  justify-content: center;
}

.App table > thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(133, 101, 252);
  color: white;
  font-size: 1.2rem;
  font-style: bold;
  position: sticky;
  top: 0;
}

.App table > thead td{
  border-top: 2px solid black;
}

.App table td {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.App table td:nth-child(1) {
  border-left: 2px solid black;
}

.App table  tr:nth-child(even) {
  background-color: #e7e4e4;
}

.App tbody tr:hover{
  background-color: #ddd;
}

.App table tr{
  height:3em;
  max-height:3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar-container{
  margin: 1em 2em;
  justify-content: center;
}
.radio-container{
  margin: 1em 2em;
  justify-content: center;
}

.error-text{
  color: red;
  margin: 1em;
}

