.App {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
.header{
  margin: 0;
}

.header-contents {
  margin: 0;
  height: 4em;
  width: 100%;
  background-color: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
  font-weight: bold;
  display:flex;
  justify-content: center;
  align-items: center;
}
.header-contents > ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  margin-left: auto;
}

.header-contents a{
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 2.5em;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: rgb(0, 14, 139);
  text-decoration: none;
  color: var(--tabColor);
  margin: auto 1em;
}

.header-contents a:hover {
  background-color: rgb(2, 19, 170);    
}

.logo {
  margin-right: auto;
  font-size: 1rem;
  position:relative;
  top: 0; 
  left: 0;
  font-size: 1.5rem;
  margin-left: 1em;
}

.active {
  background-color: rgb(133, 101, 252);
}

.main > div {
  background-color: rgb(240, 240, 240);
  color: black;
  border: 1px solid black;
  border-radius: 1em;
  margin: 2em auto;
  padding: 1em;
  width: 70%;
  height: 20%;
}
.main > form > div {
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
  border-radius: 1em;
  margin: 2em auto;
  padding: 0.5em 1em;
  width: 600px;
  height: 20%;
}

.main {
  justify-content: center;
  align-items: center;
}