.App {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.header{
  margin: 0;
}

.header-contents {
  margin: 0;
  height: 4em;
  width: 100%;
  background-color: #00305a;
  color: rgb(255, 255, 255);
  display:flex;
  justify-content: center;
  align-items: center;
}
.header-contents > ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  margin-left: auto;
}

.header-contents a{
  border-left: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height:3.2em;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #0174da;
  text-decoration: none;
  color: var(--tabColor);
}
.page-list-container{
  display: flex;
  margin-left: auto;
}

#list-1{
  margin-left: auto;
  display: flex;
  list-style: none;
}

.header-contents a:hover {
  background-color: rgb(67, 15, 255);    
}

.logo {
  margin-right: auto;
  font-size: 1rem;
  position:relative;
  top: 0; 
  left: 0;
  font-size: 1.5rem;
  margin-left: 1em;
}

.active {
  background-color: rgb(133, 101, 252);
}
.currentPage {
  background-color: rgb(67, 15, 255) !important;
}

.main > div {
  background-color: rgb(240, 240, 240);
  color: black;
  border: 1px solid black;
  border-radius: 1em;
  margin: 2em auto;
  padding: 1em;
  width: 70%;
  height: 20%;
}
.main > form > div {
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
  border-radius: 1em;
  margin: 2em auto;
  padding: 0.5em 1em;
  width: 600px;
  height: 20%;
}

.main {
  justify-content: center;
  align-items: center;
}

.App  table {
  margin: auto;
  max-height: 80vh;
  max-width: 80vw;
  border-collapse: separate;
  border-spacing: 0;
  background-color: white;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  border-right: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  border-left: 0px solid rgba(128, 128, 128, 0.3);
  border-style: inset;
}

.table-container{
  margin: 2em auto;
  align-items: center;
  padding: 0;
  max-height: 90vh;
  max-width: 90vw;
  overflow: auto;
}

.App table tr, td, th {
  text-align: left;
  padding: 0.5em 1em;
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.showText{
  max-width: fit-content;
  white-space: normal;
  overflow: visible;
  align-items: left;
  justify-content: center;
}

.App table > thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align:left;
  background-color: #dff1fe;
  font-size: 1.2rem;
  font-style: bold;
  position: sticky;
  top: 0;
  text-transform: uppercase;
}

.App table td {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  border-left: 1px solid rgba(128, 128, 128, 0.3);
}


.App tbody tr:hover{
  background-color: #ddd;
}

.App table tr{
  height:3em;
  max-height:3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar-container{
  justify-content: center;
  width: 50vw;
  display: flex;
  margin: auto;
}

.search-bar-container input {
  width: 100%;
  height: 2.5em;
  border: 1px solid rgba(128, 128, 128, 30%);
  margin: 0.5em;
}
.search-bar-container button {
  border: 1px solid rgba(128, 128, 128, 30%);
  color: rgb(67, 15, 255);
  margin: auto 3em auto auto;
  width: 7em;
  height: 3em;
  cursor: pointer;
}

.radio-container{
  width: 50vw;
  margin: auto;
  justify-content: center;
  display: flex;
}

.radio-container div{
  margin: auto 2em;
}
.radio-container input{
  margin-left:2em;
                    }

.radio-container p{
  margin: auto 0;
  padding: 0;
}

.error-text{
  color: red;
  margin: auto;
  font-size: 1.5rem;
}
.error-container{
  justify-content: center;
  text-align: center;
  width: 100%;
  display: flex;
  margin: 2em 0;
}

.button-container {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  background-color:rgba(128, 128, 128, 10%);
  position: absolute;
  bottom: 0;
}

.button-container button {
  margin: 1em;
  border: 1px solid rgba(128, 128, 128, 30%);
  color: rgb(67, 15, 255);
  width: 6em;
  height: 2.5em;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5em;
}
.button-container span {
  color: rgb(67, 15, 255);
  margin: auto 1em;
  border: 1px solid rgba(128, 128, 128, 30%);
  background-color: rgba(255, 255, 255, 60%);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font-size: 1.2rem;
}

.backButton{
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 30%);
  color: rgb(67, 15, 255);
  width: 6em;
  height: 2.5em;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5em;
}

.button-bar{
  width: 100%;
  justify-content: center;
  display: flex;
}

